<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页</title>
</head>
<body>

<h1>注册</h1>
    <form action="/userRegist/" method="post">
        {% csrf_token %}
        <div><input name="user_name" type="text" placeholder="账户名" required></div>
        <div><input name="password" type="password" placeholder="密码" required></div>
        <div><input name="age" type="text" placeholder="年龄" required></div>
        <div><button>注册</button></div>
    </form>


<form action="#">
    <input type="text" name="email" placeholder="邮箱"><br>
    邮箱：{{register_form.email}}<br>
    密码：{{register_form.password}}<br>
    验证码：{{register_form.myfield}}
    <input type="submit" value="提交">
</form>
</body>
</html>
